<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #434789;"></span>
		<span class="sg-label">
            $color-blueberry <br>
            #434789
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #634efb;"></span>
		<span class="sg-label">
			$color-light-royal-blue <br>
			#634efb
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007ebd;"></span>
		<span class="sg-label">
			$color-cerulean <br>
			#007ebd
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #00aaff;"></span>
		<span class="sg-label">
			$color-azure <br>
			#00aaff
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #99ddff;"></span>
		<span class="sg-label">
			$color-baby-blue <br>
			#99ddff
		</span>
	</li>
	<li>
    <span class="sg-swatch" style="background: #f0f7fa;"></span>
    <span class="sg-label">
      $color-blue-grey-2 <br>
      #f0f7fa
    </span>
  </li>
	<li>
		<span class="sg-swatch" style="background: #f4f9fb;"></span>
		<span class="sg-label">
            $color-blue-grey-1 <br>
            #f4f9fb
        </span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #46cd8f;"></span>
		<span class="sg-label">
            $color-greenish-teal <br>
            #46cd8f
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f55858;"></span>
		<span class="sg-label">
			$color-coral <br>
			#f55858
		</span>
	</li>
</ul>
