<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-white <br>
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f5;"></span>
		<span class="sg-label">
            $color-pale-grey-1 <br>
            #f5f5f5
        </span>
	</li>
	<li>
    <span class="sg-swatch" style="background: #ebebeb;"></span>
    <span class="sg-label">
      $color-pale-grey-2 <br>
      #ebebeb
    </span>
  </li>
	<li>
    <span class="sg-swatch" style="background: #707070;"></span>
    <span class="sg-label">
      $color-warm-grey <br>
      #707070
    </span>
  </li>
	<li>
    <span class="sg-swatch" style="background: #525252;"></span>
    <span class="sg-label">
      $color-greyish-brown <br>
      #525252
    </span>
  </li>
	<li>
		<span class="sg-swatch" style="background: #3a333d;"></span>
		<span class="sg-label">
			$color-charcoal-grey <br>
			#3a333d
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #131114;"></span>
		<span class="sg-label">
			$color-black <br>
			#131114
		</span>
	</li>
</ul>
