<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #46cd8f;"></span>
		<span class="sg-label">
            $color-success <br>
            #46cd8f
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f55858;"></span>
		<span class="sg-label">
            $color-error <br>
            #f55858
        </span>
	</li>
</ul>
