<div style="font-family:'Arvo'; font-size: 20px; margin-bottom: 10px;">Primærfont: 'Arvo', serif;</div>
<div style="font-family:'Arvo'; font-size: 20px; margin-bottom: 10px;"><em>Primærfont kursiv: 'Arvo', serif;</em></div>
<div style="font-family:'Arvo'; font-size: 20px; margin-bottom: 10px;"><strong>Primærfont uthevet: 'Arvo', serif;</strong></div>
<div style="font-family:'Rubik'; font-size: 20px; margin-bottom: 10px;">Sekundærfont: 'Rubik', sans-serif;</div>
<div style="font-family:'Rubik'; font-size: 20px; margin-bottom: 10px;"><em>Sekundærfont kursiv: 'Rubik', sans-serif;</em></div>
<div style="font-family:'Rubik'; font-size: 20px; margin-bottom: 10px;"><strong>Sekundærfont uthevet; 'Rubik', sans-serif;</strong></div>
