/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

// Generic media element styling

figure {
  margin: 0;

  figcaption {
  }
}

iframe,
svg,
img {
    max-width: 100%;
}

iframe {
  border: none;
}
