<section class="featured l-container">
	<h2 class="featured__heading">Featured</h2>
	<ul class="featured__list">
		{{# listItems.four }}
			<li>{{> molecules-article-teaser }}</li>
		{{/ listItems.four }}
	</ul>
</section>
