<article class="l-container">
	<h1>{{ headline.short }}</h1>
	<p class="lead">{{ excerpt.short }}</p>
	<p>{{ excerpt.short }}</p>
	<p>{{ excerpt.long }}</p>
	<ul>
		{{# listItems.five }}
			<li>{{ headline.short }}</li>
		{{/ listItems.five }}
	</ul>
	<p>{{ excerpt.medium }}</p>
</article>
