/*------------------------------------*\
    #L-CONTAINER
\*------------------------------------*/

/**
 * Container that centers content, restricts max-width, and ensures propper padding
 */

.l-container {
  @include padded-box($sides-only:true);

  box-sizing: content-box;
  max-width: $max-width-inner;
  margin-left: auto;
  margin-right: auto;

  @include media($x-large-screen-up) {
    max-width: $max-width-inner-xlarge;
  }
}
