<a href="#" class="logo-link {{styleModifier}}">
	<div class="logo-link__text">
		<div class="logo-link__heading">Donut Corp</div>
		<div class="logo-link__subheading">Sticky since 2016</div>
	</div>
</a>
