<figure class="featured-img featured-img--wide l-container">
  <div class="featured-img__img">
    <div class="content">
      <img src="{{ img.landscape-16x9.src }}" alt="{{ img.landscape-16x9.alt }}" />
    </div>
  </div>
  <figcaption class="featured-img__caption">{{ excerpt.short }}</figcaption>
</figure>
