<nav class="breadcrumbs">
  <ul class="breadcrumbs__list l-container">
    <li><a href="#">Crumb 1</a></li>
    <li><a href="#">Crumb 2</a></li>
    <li><a href="#">Crumb 3</a></li>
    <li><a href="#">Crumb 4</a></li>
  </ul>
</nav>
