<article class="article-teaser">
	<div class="article-teaser__img-container">
		<img class="article-teaser__img" src="{{ img.square.src }}" alt="{{ img.square.alt }}" />
	</div>
	<div class="article-teaser__text">
		<h3 class="article-teaser__heading">{{ headline.short }}</h3>
		<p class="article-teaser__excerpt">{{ excerpt.short }}</p>
	</div>
</article>
